.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2c3e50; /* Couleur de fond de l'en-tête */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Ajustez la taille du logo */
    height: auto;
    margin-right: 15px; /* Espace entre le logo et le texte */
}

.logo h1 {
    color: #ecf0f1; /* Couleur du texte */
    font-size: 1.8em; /* Taille du texte */
    margin: 0;
}
